.orders-container {
      margin: 3rem auto;
  padding: 2rem;
  overflow: auto;
  /* background: var(--bg-secondary); */
}

.orders-container {
  padding: 2rem;
  font-family: "Alexandria", sans-serif;
  color: var(--text-primary);
}

h1 {
  margin-bottom: 1.5rem;
  color: var(--accent-primary);
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--card-bg);
  box-shadow: 0 5px 15px var(--shadow-color);
  border-radius: 8px;
  overflow: hidden;
}

.orders-table th,
.orders-table td {
  padding: 0.8rem 1rem;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-secondary);
}

.orders-table th {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.orders-table tr:last-child td {
  border-bottom: none;
}



.pending {
  background-color: orange !important;
  color: white !important;
  font-weight: 600;
  /* border-radius: 10px; */
}

.paid {
  background-color: var(--accent-success) !important; /* green */
  color: white !important;
  font-weight: 600;
  /* border-radius: 10px; */
}

.cancelled {
  background-color: var(--accent-danger) !important; /* red */
  color: white !important;
  font-weight: 600;
  /* border-radius: 10px; */
}

.shipped,
.delivered {
  background-color: var(--text-primary) !important;
  color: white !important;
  font-weight: 600;
  /* border-radius: 10px; */
}
