

    .cart-products-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
margin: 0 1rem;
    }
    
    @media(max-width:500px) {
        
    .cart-products-container{
    align-items: center;

    }

    }